<!DOCTYPE html>
<html lang="en">
    
<head>

<meta charset="utf-8">
<title>About</title>
<link rel="icon" href="/img/sun.png">
<link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<div class="main-content">
{{>header}}
<img src="../img/pic.jpg" alt="ME">
<p>{{Author}}</p>
</div>

{{>footer}}
</body>

</html>
