<!DOCTYPE html>
<html lang="en">
    
<head>

<meta charset="utf-8">
<title>Home</title>
<link rel="icon" href="/img/sun.png">
<link rel="stylesheet" href="css/styles.css">

</head>
<body>

<div class="main-content">
    {{>header}}
<p>{{Author}}</p>
</div>
<form>
    <input placeholder="Location">
    <button>Submit</button>
</form>

<p class = "message-1" ></p>
<p class = "message-2" ></p>


{{>footer}}

<script src="js/app.js">  </script>

</body>

</html>
